In [9]:
import pandas as pd
import numpy as np
import librosa

In [5]:
!dir

 Volume in drive D is DATA
 Volume Serial Number is F490-BACE

 Directory of D:\Thesis Work\InitialDemoWork\Cambridge_bigger USING LIBROSA

05/26/2019  12:42 PM    <DIR>          .
05/26/2019  12:42 PM    <DIR>          ..
05/26/2019  12:42 PM    <DIR>          .ipynb_checkpoints
05/15/2019  03:44 PM    <DIR>          CAMBRIDGE_BIGGER
05/15/2019  03:51 PM    <DIR>          Cambridge_bigger Phones Dev
05/15/2019  03:51 PM    <DIR>          Cambridge_bigger Phones Test
05/15/2019  03:51 PM    <DIR>          Cambridge_bigger Phones Train
05/25/2019  04:13 PM    <DIR>          Cambridge_bigger Train AbsMax
05/15/2019  03:57 PM    <DIR>          Cambridge_bigger Train MinMax
05/25/2019  03:52 PM           432,658 Final Notebook.html
01/22/2019  10:24 PM       183,173,931 L2monoPhoneDfTest.pickle
01/22/2019  10:56 PM       391,178,932 L2monoPhoneDfTrain.pickle
05/18/2019  10:56 PM    <DIR>          lessModels
05/25/2019  04:48 PM            81,167 Model Training and Testing-MAX NORM.ipynb
05/25/2019  04:03 PM           141,176 Model Training and Testing.ipynb
05/26/2019  12:42 PM           141,462 Model Training-EC and Testing-L2.ipynb
05/18/2019  05:41 PM    <DIR>          Models
05/15/2019  03:46 PM            11,242 MonophoneCambridgeBig-LIBROSA.ipynb
05/26/2019  12:42 PM                72 Phone Folders for L2.ipynb
05/15/2019  03:28 PM    <DIR>          phoneDfs
05/15/2019  03:29 PM               678 phoneList.npy
05/25/2019  04:15 PM           290,252 ScrappingCode.html
05/25/2019  04:24 PM    <DIR>          tanhModels
05/25/2019  04:13 PM            14,001 Train Val Test and Train scalings for Cambridge Big - LIBROSA.ipynb
              11 File(s)    575,465,571 bytes
              13 Dir(s)  938,355,027,968 bytes free

In [65]:
test_featureDf = pd.read_pickle("./L2monoPhoneDfTest.pickle")

In [66]:
test_featureDf.head()

,phones,n_frames,labels,errorType,MFCCs
0,G,25578,1,c,"[[-423.77322755406794, -411.9959932464969, -41..."
1,AA1,25578,1,c,"[[-221.94339159438036, -221.9371806257653, -22..."
2,D,25578,1,c,"[[-325.1734666200506, -337.9629833826362, -363..."
3,B,25578,1,c,"[[-447.436674575593, -452.4805757789892, -464...."
4,L,25578,1,c,"[[-292.9672733282472, -267.3215759439314, -275..."

In [67]:
test_featureDf['deltaC'] = test_featureDf.MFCCs.apply(librosa.feature.delta)
test_featureDf['doubleDeltaC'] = test_featureDf.MFCCs.apply(librosa.feature.delta, order=2)

In [68]:
print("Test Phones: ", len(test_featureDf.phones))
print("Unique Test Phones: ", len(set(test_featureDf.phones)))

Test Phones:  34799
Unique Test Phones:  71

In [69]:
#remove stresses
test_featureDf.phones = [''.join([alpha for alpha in phone if alpha.isalpha()]) for phone in test_featureDf.phones]

In [70]:
print("Unique Test Phones: ", len(set(test_featureDf.phones)))

Unique Test Phones:  42

In [71]:
test_featureDf.head()

,phones,n_frames,labels,errorType,MFCCs,deltaC,doubleDeltaC
0,G,25578,1,c,"[[-423.77322755406794, -411.9959932464969, -41...","[[22.300710618871317, 22.300710618871317, 22.3...","[[9.696126870518768, 9.696126870518768, 9.6961..."
1,AA,25578,1,c,"[[-221.94339159438036, -221.9371806257653, -22...","[[-11.524404444499638, -11.524404444499638, -1...","[[-9.994265686136963, -9.994265686136963, -9.9..."
2,D,25578,1,c,"[[-325.1734666200506, -337.9629833826362, -363...","[[-15.686472752824004, -15.686472752824004, -1...","[[1.1662679563217837, 1.1662679563217837, 1.16..."
3,B,25578,1,c,"[[-447.436674575593, -452.4805757789892, -464....","[[-34.727038663343485, -34.727038663343485, -3...","[[-34.82559064172155, -34.82559064172155, -34...."
4,L,25578,1,c,"[[-292.9672733282472, -267.3215759439314, -275...","[[-3.6625277966476655, -3.6625277966476655, -3...","[[7.597755619620676, 7.597755619620676, 7.5977..."

In [72]:
test_featureDf["errorType"].value_counts()

c     30761
s      2290
 s      899
 d      277
d       194
a       186
 a      111
S        79
D         2
Name: errorType, dtype: int64

In [73]:
#only substitution errors needed
test_featureDf = test_featureDf[test_featureDf["errorType"].isin(['s',' s','S','c',' S'])].copy()

In [74]:
test_featureDf.shape

(34029, 7)

In [75]:
test_featureDf.labels.value_counts()

1    30761
0     3268
Name: labels, dtype: int64

In [76]:
test_featureDf.drop(columns=["errorType","n_frames"],inplace=True)

In [77]:
test_featureDf.head()

,phones,labels,MFCCs,deltaC,doubleDeltaC
0,G,1,"[[-423.77322755406794, -411.9959932464969, -41...","[[22.300710618871317, 22.300710618871317, 22.3...","[[9.696126870518768, 9.696126870518768, 9.6961..."
1,AA,1,"[[-221.94339159438036, -221.9371806257653, -22...","[[-11.524404444499638, -11.524404444499638, -1...","[[-9.994265686136963, -9.994265686136963, -9.9..."
2,D,1,"[[-325.1734666200506, -337.9629833826362, -363...","[[-15.686472752824004, -15.686472752824004, -1...","[[1.1662679563217837, 1.1662679563217837, 1.16..."
3,B,1,"[[-447.436674575593, -452.4805757789892, -464....","[[-34.727038663343485, -34.727038663343485, -3...","[[-34.82559064172155, -34.82559064172155, -34...."
4,L,1,"[[-292.9672733282472, -267.3215759439314, -275...","[[-3.6625277966476655, -3.6625277966476655, -3...","[[7.597755619620676, 7.597755619620676, 7.5977..."

In [78]:
test_featureDf.phones.unique().shape

(42,)

In [81]:
for phone in test_featureDf.phones.unique():
    if phone != "AX":
        p_featureDf = test_featureDf[test_featureDf["phones"] == phone]
        X_test = np.array((p_featureDf.MFCCs,p_featureDf.deltaC,p_featureDf.doubleDeltaC))
        X_test = np.transpose(X_test,[1,2,3,0])
        y_test = p_featureDf.labels.values
        print("Shape of X_test: ", X_test.shape)
        print("Shape of y_test: ", y_test.shape)
        np.save("./L2 Phones Dev/"+phone+"_X.npy",X_test)
        np.save("./L2 Phones Dev/"+phone+"_y.npy",y_test)

Shape of X_test:  (240, 13, 50, 3)
Shape of y_test:  (240,)
Shape of X_test:  (450, 13, 50, 3)
Shape of y_test:  (450,)
Shape of X_test:  (1284, 13, 50, 3)
Shape of y_test:  (1284,)
Shape of X_test:  (418, 13, 50, 3)
Shape of y_test:  (418,)
Shape of X_test:  (981, 13, 50, 3)
Shape of y_test:  (981,)
Shape of X_test:  (689, 13, 50, 3)
Shape of y_test:  (689,)
Shape of X_test:  (1304, 13, 50, 3)
Shape of y_test:  (1304,)
Shape of X_test:  (1763, 13, 50, 3)
Shape of y_test:  (1763,)
Shape of X_test:  (2904, 13, 50, 3)
Shape of y_test:  (2904,)
Shape of X_test:  (971, 13, 50, 3)
Shape of y_test:  (971,)
Shape of X_test:  (683, 13, 50, 3)
Shape of y_test:  (683,)
Shape of X_test:  (819, 13, 50, 3)
Shape of y_test:  (819,)
Shape of X_test:  (638, 13, 50, 3)
Shape of y_test:  (638,)
Shape of X_test:  (554, 13, 50, 3)
Shape of y_test:  (554,)
Shape of X_test:  (504, 13, 50, 3)
Shape of y_test:  (504,)
Shape of X_test:  (1946, 13, 50, 3)
Shape of y_test:  (1946,)
Shape of X_test:  (1250, 13, 50, 3)
Shape of y_test:  (1250,)
Shape of X_test:  (2092, 13, 50, 3)
Shape of y_test:  (2092,)
Shape of X_test:  (418, 13, 50, 3)
Shape of y_test:  (418,)
Shape of X_test:  (963, 13, 50, 3)
Shape of y_test:  (963,)
Shape of X_test:  (813, 13, 50, 3)
Shape of y_test:  (813,)
Shape of X_test:  (742, 13, 50, 3)
Shape of y_test:  (742,)
Shape of X_test:  (615, 13, 50, 3)
Shape of y_test:  (615,)
Shape of X_test:  (1236, 13, 50, 3)
Shape of y_test:  (1236,)
Shape of X_test:  (1591, 13, 50, 3)
Shape of y_test:  (1591,)
Shape of X_test:  (889, 13, 50, 3)
Shape of y_test:  (889,)
Shape of X_test:  (194, 13, 50, 3)
Shape of y_test:  (194,)
Shape of X_test:  (1046, 13, 50, 3)
Shape of y_test:  (1046,)
Shape of X_test:  (398, 13, 50, 3)
Shape of y_test:  (398,)
Shape of X_test:  (1340, 13, 50, 3)
Shape of y_test:  (1340,)
Shape of X_test:  (810, 13, 50, 3)
Shape of y_test:  (810,)
Shape of X_test:  (920, 13, 50, 3)
Shape of y_test:  (920,)
Shape of X_test:  (386, 13, 50, 3)
Shape of y_test:  (386,)
Shape of X_test:  (610, 13, 50, 3)
Shape of y_test:  (610,)
Shape of X_test:  (160, 13, 50, 3)
Shape of y_test:  (160,)
Shape of X_test:  (240, 13, 50, 3)
Shape of y_test:  (240,)
Shape of X_test:  (159, 13, 50, 3)
Shape of y_test:  (159,)
Shape of X_test:  (701, 13, 50, 3)
Shape of y_test:  (701,)
Shape of X_test:  (244, 13, 50, 3)
Shape of y_test:  (244,)
Shape of X_test:  (60, 13, 50, 3)
Shape of y_test:  (60,)
Shape of X_test:  (3, 13, 50, 3)
Shape of y_test:  (3,)

In [85]:
"ZH" in test_featureDf.phones.unique()

False